label
    | #{name}
if type === 0
    select.category-input.form-control
        if value
            option(value='' disabled) Select one
        else
            option(value='' disabled selected) Select one
        for datum in data
            if value === datum.value
                option(value='#{datum.value}' selected) #{datum.label}
            else
                option(value='#{datum.value}') #{datum.label}
else if type === 1
    if value
        input.category-input.form-control(type='number', value='#{value}')
    else
        input.category-input.form-control(type='number')
else if type === 2 && value
        input.category-input.form-control(type='number', value='#{value[0]}')
        span.input-separator
            | -
        input.category-input.form-control(type='number', value='#{value[1]}')
    else
        input.category-input.form-control(type='number')
        span.input-separator
            | -
        input.category-input.form-control(type='number')