label
    | #{name}
if type === 0
    select.form-control(data-id='#{id}')
        if value
            option(value='' disabled) Select one
        else
            option(value='' disabled selected) Select one
        for datum in data
            if value === datum.value
                option(value='#{datum.value}' selected) #{datum.label}
            else
                option(value='#{datum.value}') #{datum.label}
else if type === 1
    if value
        input.form-control(type='number', data-id='#{id}', value='#{value}')
    else
        input.form-control(type='number', data-id='#{id}')
else if type === 2
    if value
        input.form-control(type='text', data-id='#{id}', value='#{value}')
    else
        input.form-control(type='text', data-id='#{id}')