h1 Hello! #{name}

p
    | You have been added to the #{pool} pool. You're credentials are
    | below.

p
    | username: #{email}
    | password: #{password}

p
    | You can login to make your picks at #{server}

p
    | Brought to you by your friendly neighbourhood khello team. Please
    | keep in mind that this pool system is under heavy development, and may
    | blow up in your face.
