h1 Hello!

if recipient.plainPassword
    p
        | You have been added to the #{pool} pool. You're credentials are
        | below.

    p
        h3
            | username: #{recipient.email}
        h3
            | password: #{recipient.plainPassword}
else
    p
        | You have been added to the #{pool} pool. It looks like you are already
        | registered. You can log in with your current email and password.

p
    | You can login to make your picks at #{server}

p
    | Brought to you by your friendly neighbourhood khello team. Please
    | keep in mind that this pool system is under heavy development, and may
    | blow up in your face.
